<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="utf-8">
            <title>
                Error Page
            </title>
        </meta>
        <!-- Web Fonts -->
        <link href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700,300&subset=latin,latin-ext" rel="stylesheet" type="text/css"/>
        <link href="http://fonts.googleapis.com/css?family=Raleway:700,400,300" rel="stylesheet" type="text/css"/>
        <!-- CSS style.css -->
        <link href="/assets/css/style.css" rel="stylesheet" type="text/css"/>
        <link href="/assets/css/ui.css" rel="stylesheet" type="text/css"/>
        <link href="/assets/images/favicon.ico" rel="shortcut icon" type="image/x-icon">
        </link>
    </head>
    <body>
        <div class="ui-alert">
            <div class="ui-alert-title">
                Error
            </div>
            <br/>
            <div class="ui-alert-message" ng-transclude="">
                <i>
                    Mongoose default connection error: MongoError: Authentication failed.
                </i>
                <br/>
                <br/>
                Please verify your internet connection, mongo's lab string connection, login and password.
            </div>
        </div>
    </body>
</html>